* {
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Calibri', sans-serif;
}

ul {
	list-style: none;
}


#header, #hyperlinks, #navigation, #footer, form {
	background-color: #d7d7d6;
}

#navigation {
	font-size: 20px;
}

.nav li a, form, #footer {
	font-size: 18px;
}

.logo {
	width: 6em;
}

.site_title {
	font-size: 28px;
}

table {
	font-size: 14px;
	text-align: center;
	border: 1px solid black;
	border-collapse: collapse;
	max-width: 800px;
	margin: 0 auto;
}

td, th {
	padding: 5px;
}

tr:nth-child(odd) {
	background-color: #c99be9;
}

tr:nth-child(even) {
	background-color: #d7d7d6;
}

form {
	width: 100%;
	text-align: center;
}

textarea {
	width: 100%;
	max-width: 400px;
}

@media (min-width: 768px) {
	table {
		font-size: 18px;
	}
	.site_title {
		font-size: 32px;
	}
	.nav li a, form, #footer {
		font-size: 18px;
	}
	#navigation {
		font-size: 20px;
	}
}

@media (min-width: 1024px) {
	table {
		font-size: 18px;
	}
	.site_title {
		font-size: 34px;
	}
	.nav li a, form, #footer {
		font-size: 20px;
	}
	#navigation {
		font-size: 22px;
	}
}